<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Vietnamese Cuisine | Four Seasons Restaurant| All Rights Reserved | MIB Dev |</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Attire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<!-- //Custom Theme files --> 
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>  
<!-- //js -->
<!-- web-fonts -->  
<link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body style="background-color:#faebd7 ;"> 
	<!-- banner -->
	<div class="agileits-banner">
		<div class="bnr-agileinfo">
			<div class="banner-top w3layouts">
				<div class="container">  
					<p><span class="glyphicon glyphicon-earphone"></span> +1 (712) 252-9890</p>
				</div>
			</div>
			<div class="banner-w3text w3layouts">
				<h6>Welcome To</h6>
				<h2>Four Seasons</h2>
			</div>
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							Menu
						</button>
						<h1><a class="" href="{{url_for('index')}}" style="font-size: 20px;">Restaurant</a></h1>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-left">
							<ul class="nav navbar">
								
								<li><a href="{{url_for('index')}}" class="active">Home</a></li>
								<li><a href="{{url_for('about')}}">About us</a></li>
								<li><a href="{{url_for('category')}}">Menu</a></li>
								<li><a href="{{url_for('gallery')}}">Pictures</a></li>
								<li><a href="{{url_for('contact')}}">Contact</a></li>
								<li><a href="{{ url_for('login') }}">Login</a></li>
							</ul>
						</div>
						
						<div class="clearfix"> </div>  
					</div>
				</div>	
			</div>	
			<!-- //navigation -->
		</div>
	</div>
	<!-- //banner --> 
	<!-- welcome --> 
	<div class="welcome agileits"> 
		<div class="container">  
			<div class="welcome-w3lsrow"> 
				<div class="col-md-5 col-sm-5 w3welcome-left"> 
					<div class="w3welcome-text"> 
						<h5 class="w3l-subtitle">- Fresh Ingredients</h5>
						<p>Thank You for your Support, We use fresh ingredients and our expertise to serve you the best soups and dishes in town!</p>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 w3welcome-img"> 
					 
				</div> 
				<div class="clearfix"> </div>
			</div>
			<div class="welcome-w3lsrow2">
				<
				<div class="col-sm-3 col-xs-3 w3welcome-grids">
					<img src="images/Pho-So-1-Alex-Lau.jpg" class="img-responsive" style="width: 300px;" alt=""/>
				</div>
				<div class="col-sm-3 col-xs-3 w3welcome-grids">
					<img src="images/pho.jpg" class="img-responsive" style="width: 200px;" width="200px" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //welcome --> 
	<!-- services --> 
	<div class="services"> 
		<div class="container">  
			<h3 class="agileits-title" >What we serve:</h3>
			<div class="services-agileinfo"> 
				<div class="col-sm-3 col-xs-6 services-w3grids"> 
					<h5>1</h5>
					<h6> APPETIZERS  </h6>
				</div> 
				<div class="col-sm-3 col-xs-6 services-w3grids"> 
					<h5>2</h5>
					<h6>SOUPS</h6>
				</div>
				<div class="col-sm-3 col-xs-6 services-w3grids"> 
					<h5>3</h5>
					<h6>DISHES</h6>
				</div>
				<div class="col-sm-3 col-xs-6 services-w3grids"> 
					<h5>4</h5>
					<h6>DRINKS</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div> 
	<!-- //services -->  
	<!-- w3-agilesale --> 
	<div class="w3-agilesale welcome"> 
		<div class="container">  
			<h3 class="agileits-title">WE DELIVER TO YOUR DOOR</h3>
			<p><a href="{{url_for('contact')}}">Contact us</a></p> 
		</div> 
	</div> 
	<!-- //w3-agilesale --> 

	<!-- copy rights start here -->
	<div class="copy-w3right">
		<div class="container"> 
			<div class="top-nav bottom-w3lnav">
				<ul>
					<li><a href="{{url_for('index')}}">HOME</a></li>
					<li><a href="{{url_for('about')}}">About us</a></li>
					<li><a href="{{url_for('category')}}">Menu</a></li>
					<li><a href="{{url_for('gallery')}}">Pictures</a></li>
					<li><a href="{{url_for('contact')}}">Contact</a></li>
					<li><a href="{{ url_for('login')}}">Login</a></li>
				</ul>
			</div>
			<div class="w3lsfoter-icons social-icon">
				<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
				<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
				<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
				<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
			</div> 
		</br>
			<p>© 2015 Four Seasons Restaurant. All Rights Reserved | Design by  <a href="MIB Dev" target="_blank">|MIB Dev|</a> </p>
		</div>
	</div>
	<!-- //copy right end here -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->  
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>